vendor
composer.lock
src/Resources/app/storefront/dist/storefront/js
src/Resources/app/administration/.tmp
src/Resources/public/administration/.vite
src/Resources/public/administration/assets
var/cache
.DS_Store