<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Administration 2FA</title>

        <input-field>
            <name>administrationCompany</name>
            <label>Company name</label>
            <helpText>Company name for QR code in 2FA app</helpText>
            <defaultValue>Shopware Administration</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Storefront 2FA</title>

        <input-field type="bool">
            <name>storefrontEnabled</name>
            <label>Enable 2FA for Storefront</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field>
            <name>storefrontCompany</name>
            <label>Company name</label>
            <helpText>Company name for QR code in 2FA app</helpText>
            <defaultValue>Webshop</defaultValue>
        </input-field>
    </card>
</config>
