name: Create zip
on:
    push:
        tags:
            - '*'

env:
    PLUGIN_NAME: RuneLaenenTwoFactorAuth

jobs:
    CreateZip:
        if: startsWith(github.ref, 'refs/tags/')
        runs-on: ubuntu-latest
        container: ghcr.io/friendsofshopware/platform-plugin-dev:v6.3.1
        steps:
            -   name: Get the version
                id: get_version
                run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

            -   name: Checkout
                uses: actions/checkout@v2.3.1
                with:
                    path: ${{ env.PLUGIN_NAME }}

            -   name: Build & create zip
                run: |
                    start-mysql
                    ln -s "$(pwd)" "/plugins/${{ env.PLUGIN_NAME }}"
                    pack-plugin "${{ env.PLUGIN_NAME }}"

            -   name: Create Release
                id: create_release
                uses: actions/create-release@v1.0.0
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    tag_name: ${{ steps.get_version.outputs.VERSION }}
                    release_name: ${{ steps.get_version.outputs.VERSION }}
                    draft: false
                    prerelease: false

            -   name: Upload Release Asset
                id: upload_release_asset
                uses: actions/upload-release-asset@v1.0.2
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    upload_url: ${{ steps.create_release.outputs.upload_url }}
                    asset_path: ${{ github.workspace }}/${{ env.PLUGIN_NAME }}-${{ steps.get_version.outputs.VERSION }}.zip
                    asset_name: ${{ env.PLUGIN_NAME }}.zip
                    asset_content_type: application/zip
